.person {
    display: flex;
    margin-bottom: 1.5rem;
    header {
        margin-right: 1rem;
    }
}
.person-image {
    width: 4rem;
    border-radius: 100%;
}

.person-name {
    margin-bottom: -.25rem;
}

.person-job {
    font-weight: normal;
    margin-bottom: .25rem;
}