{% extends "base.twig" %}

{% block content %}
	<section class="page-section">
		<h2 class="section-title">Leistungen</h2>
		<ul>
			<li>Neurologische und psychiatrische Facharztpraxis</li>
			<li>Konsiliarambulanz</li>
			<li>Studienzentrum</li>
			<li>Gutachtenzentrum</li>
		</ul>
	</section>
	<section class="page-section">
	<h2 class="section-title">Sprechzeiten & Kontakt</h2>
<p class="pre">Montag-Donnerstag: 08:30 - 17:00
Freitag: 8:30 - 15:00
</p>
<p class="pre">Alte Bahnhofstraße 10
97753 Karlstadt

Telefon: <a href="tel:+4909353529">+49 (0) 935 3529</a>
Email: <a href="mailto:hello@example.com">hello@example.com</a>
<a href="/impressum/">Impressum</a></p>
	</section>
	<section class="page-section">
			<h2 class="section-title">Über Uns</h2>
			<p>Die Gemeinschaftspraxis Dres. Bittkau ist seit 2004 Ihr Ansprechpartner für Neurologie und Psychotherapie in Karlstadt bei Würzburg. </p>
			<h3 class='section-subtitle'>Team</h3>
		<div class="card person">
			<header>
				<img src="{{theme.link}}/static/avatar-placeholder.jpg" class='person-image' alt=""/>
			</header>
			<div class="person-content">
				<h2 class="person-name">Dr. med. Foroogh Bittkau</h2>
				<h3 class="person-job">Neurologin, Fachärztin für Psychiatrie & Psychotherapie</h3>
				<p>Weiterbildungen: Psychotherapie, Psychosomatische Grundversorgung</p>
			</div>
		</div>
		<div class="card person">
			<header>
				<img src="{{theme.link}}/static/avatar-placeholder.jpg" class='person-image' alt=""/>
			</header>
			<div class="person-content">
				<h2 class="person-name">Dr. med. Simon Bittkau</h2>
				<h3 class="person-job">Neurologe, Facharzt für Psychiatrie & Psychotherapie</h3>
				<p>Weiterbildungen: Psychotherapie, Psychosomatische Grundversorgung</p>
			</div>
		</div>
		<div class="card person">
			<header>
				<img src="{{theme.link}}/static/avatar-placeholder.jpg" class='person-image' alt=""/>
			</header>
			<div class="person-content">
				<h2 class="person-name">Dipl.-Med. Sybille Schlenker</h2>
				<h3 class="person-job">Fachärztin für Psychiatrie & Psychotherapie</h3>
				<p>Weiterbildungen: Psychotherapie</p>
			</div>
		</div>
	</section>
	<section class="page-section">
			<h2 class="section-title">Anfahrt</h2>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3747.0456724353917!2d9.763944444994062!3d49.96055319529748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a2c040bdf7b9dd%3A0x51c1028b85e3b9ef!2sDr.+Foroogh+Bittkau!5e0!3m2!1sen!2suk!4v1511129585927" width="800" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
<p class='pre'>Alte Bahnhofstraße 10
97753 Karlstadt</p>
	</section>
{% endblock %}
