{% extends "base.twig" %}

{% block content %}
	<section class="page-section">
		<h2 class="section-title">Leistungen</h2>
	</section>
	<section class="page-section">
			<h2 class="section-title">Uber Uns</h2>
		<div class="card person">
			<header>
				<img src="{{theme.link}}/static/avatar-placeholder.jpg" class='person-image' alt=""/>
			</header>
			<div class="person-content">
				<h2 class="person-name">Dr. Walter Gropius</h2>
				<h3 class="person-job">Neurologin, Fachärztin für Psychiatrie & Psychotherapie</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, mollitia. Delectus consequatur, harum ducimus dolores sunt adipisci numquam, exercitationem autem cum dolorem consectetur ex, neque nemo tempora possimus quae dignissimos. Dolor, quaerat illum reiciendis modi maiores commodi quasi voluptates similique!</p>
			</div>
		</div>
	</section>
	<section class="page-section">
			<h2 class="section-title">Anfahrt</h2>
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3747.0456724353917!2d9.763944444994062!3d49.96055319529748!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47a2c040bdf7b9dd%3A0x51c1028b85e3b9ef!2sDr.+Foroogh+Bittkau!5e0!3m2!1sen!2suk!4v1511129585927" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
	</section>
	<section class="page-section">
			<h2 class="section-title">Kontakt</h2>
<p class="pre">Alte Bahnhofstr. 10
97753 Karlstadt

Telefon: <a href="tel:+4909353529">+49 (0) 935 3529</a>
Email: <a href="mailto:hello@example.com">hello@example.com</a></p>
	</section>
{% endblock %}
